In [108]:
import pandas as pd

In [109]:
# public method: first row as header
def firstRowToHeader(df):
    new_header = df.iloc[0] #grab the first row for the header
    df = df[1:] #take the data less the header row
    df.columns = new_header #set the header row as the df header
    return df

In [110]:
df = pd.read_excel("../浙江工业大学/经济学/202203311113200895.xlsx")
df = firstRowToHeader(df)

In [111]:
df[:5]

,序号,复试批次,姓名,准考证号,复试专业代码和名称（或方向）,报考类别,学习方式,初试成绩,复试成绩,综合成绩,思想政治素质与品\n德,备注
1,1,一志愿考生,孙麟,103372210014352,020200应用经,非定向,全日制,418,86.6,84.8,合格,NaN
2,2,一志愿考生,朱婕,103372210010933,020200应用经,非定向,全日制,409,88.2,84.36,合格,NaN
3,3,一志愿考生,杨铭杰,103372210006306,020200应用经,非定向,全日制,411,87.4,84.28,合格,NaN
4,4,一志愿考生,石柔刚,103372210006303,020200应用经,非定向,全日制,407,88.2,84.12,合格,NaN
5,5,一志愿考生,仲星宇,103372210006317,020200应用经,非定向,全日制,393,90.8,83.48,合格,NaN

In [112]:
df.columns

Index(['序号', '复试批次', '姓名', '准考证号', '复试专业代码和名称（或方向）', '报考类别', '学习方式', '初试成绩',
       '复试成绩', '综合成绩', '思想政治素质与品\n德', '备注'],
      dtype='object', name=0)

In [113]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46 entries, 1 to 46
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   序号              46 non-null     object
 1   复试批次            46 non-null     object
 2   姓名              46 non-null     object
 3   准考证号            46 non-null     object
 4   复试专业代码和名称（或方向）  46 non-null     object
 5   报考类别            46 non-null     object
 6   学习方式            46 non-null     object
 7   初试成绩            46 non-null     object
 8   复试成绩            46 non-null     object
 9   综合成绩            46 non-null     object
 10  思想政治素质与品
德      46 non-null     object
 11  备注              0 non-null      object
dtypes: object(12)
memory usage: 4.4+ KB

In [116]:
df = df.infer_objects()
print(df.dtypes)
df.groupby(by=['复试专业代码和名称（或方向）'])['初试成绩'].describe()

0
序号                  int64
复试批次               object
姓名                 object
准考证号                int64
复试专业代码和名称（或方向）     object
报考类别               object
学习方式               object
初试成绩                int64
复试成绩              float64
综合成绩              float64
思想政治素质与品\n德        object
备注                float64
dtype: object

,count,mean,std,min,25%,50%,75%,max
复试专业代码和名称（或方向）,,,,,,,,
020200应用经,46.0,384.391304,17.759477,360.0,369.5,383.0,398.5,421.0

In [115]:
df_1 = df['初试成绩'].astype(float)
pd.DataFrame(df_1.describe(include='all'))

             初试成绩
count   46.000000
mean   384.391304
std     17.759477
min    360.000000
25%    369.500000
50%    383.000000
75%    398.500000
max    421.000000