In [23]:
file_info = [
 {'id': 'CCH204',
  'email': 'cchippendale0@instagram.com',
  'date': '06/07/8020',
  'mac': 'BA:1C:99:10:4A:D3',
  'file_name': 'TempusSemper.avi',
  'url': 'http://sohu.com',
  'time12': '6:25 PM',
  'time24': '20:22',
  'numbers': 559,
  'html': '<address>'},
 {'id': 'JMU2^^',
  'email': 'jmusk1@netscape.com',
  'date': '07/21/2020',
  'mac': 'EA:33:74:C3:64:FB',
  'file_name': 'NisiNam.jpeg',
  'url': 'http://imgur.com',
  'time12': '12:05 AM',
  'time24': '3:40',
  'numbers': 570,
  'html': '</ul>'},
 {'id': 'SSH279',
  'email': 'ssherbrooke2@list-manage_com',
  'date': '09/12/2019',
  'mac': '1C:FD:AF:07:FE:42',
  'file_name': 'UltriciesEuNibh.mp3',
  'url': 'http://ihg.com',
  'time12': '5:58 AM',
  'time24': '9:51',
  'numbers': -977,
  'html': '<op^group>'},
 {'id': 'RBO218',
  'email': 'rboustead3@shutterfly.com',
  'date': '07/25/2020',
  'mac': '96:95:30:D9:D1:15',
  'file_name': 'MusEtiamVel.mp3',
  'url': 'http://umn_edu',
  'time12': '7:28 PM',
  'time24': '4:27',
  'numbers': 685,
  'html': '<^body>'},
 {'id': 'ZFA290',
  'email': 'zfabri4@biblegateway_com',
  'date': '10/13/2019',
  'mac': '00:2B:B1:3C:36:79',
  'file_name': 'Penatibus.tiff',
  'url': 'https://gizmodo.com',
  'time12': '13:70 PM',
  'time24': '1:10',
  'numbers': 919,
  'html': '<kbd>'}
]
import pandas as pd

In [24]:
df = pd.DataFrame(file_info)
df

,id,email,date,mac,file_name,url,time12,time24,numbers,html
0,CCH204,cchippendale0@instagram.com,06/07/8020,BA:1C:99:10:4A:D3,TempusSemper.avi,http://sohu.com,6:25 PM,20:22,559,<address>
1,JMU2^^,jmusk1@netscape.com,07/21/2020,EA:33:74:C3:64:FB,NisiNam.jpeg,http://imgur.com,12:05 AM,3:40,570,</ul>
2,SSH279,ssherbrooke2@list-manage_com,09/12/2019,1C:FD:AF:07:FE:42,UltriciesEuNibh.mp3,http://ihg.com,5:58 AM,9:51,-977,<op^group>
3,RBO218,rboustead3@shutterfly.com,07/25/2020,96:95:30:D9:D1:15,MusEtiamVel.mp3,http://umn_edu,7:28 PM,4:27,685,<^body>
4,ZFA290,zfabri4@biblegateway_com,10/13/2019,00:2B:B1:3C:36:79,Penatibus.tiff,https://gizmodo.com,13:70 PM,1:10,919,<kbd>

In [38]:
pattern = r'(^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$)"'

df['email'].str.extract(pattern)

     0
0  NaN
1  NaN
2  NaN
3  NaN
4  NaN